<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.R3cy_MobileApp"
        tools:targetApi="31">
        <activity
            android:name=".TichDiem"
            android:exported="false" />
        <activity
            android:name=".Product.Product_Search"
            android:exported="false" />
        <activity
            android:name=".Product.Product_Detail"
            android:exported="false" />
        <activity
            android:name=".UserAccount_Main"
            android:exported="false" />
        <activity
            android:name=".DoiDiem_ChiTiet"
            android:exported="false" />
        <activity
            android:name=".DoiDiem"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".item_doidiem"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".TrangChu"
            android:exported="false" />
        <activity
            android:name=".Thugom"
            android:exported="false" />
        <activity
            android:name=".Modau.Modau4"
            android:exported="false" />
        <activity
            android:name=".Modau.Modau3"
            android:exported="false" />
        <activity
            android:name=".Modau.Modau2"
            android:exported="false" />
        <activity
            android:name=".Modau.Modau1"
            android:exported="false" />
        <activity
            android:name=".UserAccount_Info"
            android:exported="false" />
        <activity
            android:name=".UserAccount_Policy"
            android:exported="false" />
        <activity
            android:name=".FAQsPage"
            android:exported="false" />
        <activity
            android:name=".Signin.ForgotPass_Newpass"
            android:exported="false" />
        <activity
            android:name=".Signin.ForgotPass_OTPCode"
            android:exported="false" />
        <activity
            android:name=".Signin.ForgotPass_Email"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Signin.Signin_Main"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".CustomProduct"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Product.Product_List"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>